@import "tailwindcss";


/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */

body{
  background: #f3f6fb;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  min-height: 100vh;

  overflow-x: hidden;

  color: #111827;

  -webkit-font-smoothing:
    antialiased;
}


/* ROOT */

#root{
  min-height: 100vh;
}


/* INPUTS */

input,
button,
textarea,
select{
  font-family: inherit;
  outline: none;
}


/* BUTTON */

button{
  cursor: pointer;
}


/* SCROLLBAR */

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: #eef2ff;
}

::-webkit-scrollbar-thumb{
  background: #c7d2fe;
  border-radius: 20px;
}


/* PLACEHOLDER */

::placeholder{
  color: #9ca3af;
}


/* REMOVE MOBILE TAP COLOR */

button,
a,
input{
  -webkit-tap-highlight-color:
    transparent;
}